<aside>
  <div class="aside-container shadow-sidebar" fxLayout="column" [ngClass]="{'collapsible': isCollapse}">
    <div class="head-menu" fxLayout='row' fxLayoutAlign=' center'>
      <ion-label fxFlex='' color='medium' bold-text>{{sidebarMenu.title | translate}}</ion-label>
      <div (click)="toggleCollapse()" fxFlex='none' [ngClass]="{'borderRight': !isCollapse}" class="back-arrow-box"
        fxLayout='row' fxLayoutAlign='center center'>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
    </div>
    <div class="list-menu" #listmenu>
      <div class="list-section" *ngFor="let menu of sidebarMenu.menus"
        [ngClass]="{'active': menu.label === activeMenu}">
        <div class="label-box" (click)="toggleShow(menu.id)" fxLayout='row' fxLayoutGap='10px' fxLayoutAlign='center'
          *ngIf="menu.child.length > 0">
          <ion-label large-text bold-text color='medium' fxFlex="">{{menu.label | translate}}</ion-label>
          <ion-icon fxFlex='none' name="caret-down-outline"></ion-icon>
        </div>
        <div class="list-sub" id="parent{{menu.id}}" *ngIf="menu.child.length > 0">
          <div class="sub-box" (click)="openPage(menu.id, grandsub.id, grandsub)" *ngFor="let grandsub of menu.child"
            [ngClass]="{'active':grandsub.activeSubMenu}">
            <ion-label color='dark'>{{grandsub.subMenu | translate}}</ion-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>