aside {
  width: 210px;
  margin-top: 80px;
  height: calc(100vh - 75px);
}

aside {
  .back-arrow-box {
    width: 30px;
    height: 30px;
    border: 2px solid var(--gdx-color-outline);
    cursor: pointer;
    border-right: 0px solid var(--gdx-color-outline);
    margin-left: 10px;
    ion-icon {
      color: var(--ion-color-medium);
    }
    &:hover {
      background-color: rgba(#000000, 0.05);
    }
  }
  .borderRight {
    margin-left: 10px !important;
    border-right: 2px solid var(--gdx-color-outline) !important;
    transition: all ease 300ms;
  }
  .aside-container {
    height: calc(100vh - 75px);
    transition: all 300ms ease;
    background-color: transparent;
    overflow: hidden;
    width: 50px;
    z-index: 2;
    .head-menu {
      padding: 10px 16px 10px 0px;
      ion-label {
        width: 0;
        height: 0;
        overflow: hidden;
        margin-right: 0 !important;
      }
      ion-icon {
        transform: rotateZ(180deg);
      }
    }
    .list-menu {
      opacity: 0;
      .list-section {
        .label-box {
          padding: 10px 16px;
          cursor: pointer;
          ion-icon {
            color: var(--ion-color-medium);
          }
          &:hover {
            transition: all 200ms ease;
            background-color: rgba(#000000, 0.05);
          }
        }
        .list-sub {
          transition: all cubic-bezier(1, -0.11, 0.72, 0.89) 200ms;
          opacity: 1;
          .sub-box {
            padding: 10px 16px 10px 24px;
            cursor: pointer;
            &:hover {
              transition: all 200ms ease;
              background-color: rgba(#000000, 0.05);
            }
            &.active {
              border-left: 5px solid var(--ion-color-primary);
              background-color: rgba(#000000, 0.05);
              ion-label {
                color: var(--ion-color-primary) !important;
              }
            }
            ion-label {
              pointer-events: none;
            }
          }
          &.hide {
            max-height: 0px;
            overflow: hidden;
            transition: all cubic-bezier(0.11, 1.08, 0.72, 0.89) 200ms;
            opacity: 0;
          }
        }
      }
      .list-group {
        .list-sub {
          flex-direction: column;
        }
      }
    }
    .more-icon {
      display: none;
    }
  }
  .collapsible {
    transition: all 300ms ease;
    width: 210px !important;
    background-color: var(--gdx-color-bgcard) !important;
    overflow: auto !important;
    padding-bottom: 16px;
    .head-menu {
      padding: 10px 0 10px 16px !important;
      ion-label {
        width: auto !important;
        height: auto !important;
        overflow: inherit !important;
      }
      ion-icon {
        transform: rotateZ(0deg) !important;
      }
    }
    .list-menu {
      opacity: 1 !important;
    }
  }
  ion-router-outlet {
    position: relative;
  }
}
