<div hide-mobile class="app-breadcrumb" pl-20 pa-16 pb-16>
  <div class="home-box" (click)="toHome()" fxLayout='row' fxLayoutGap='5px'>
    <ion-label bold-text color='primary' color='primary'>{{'Home' | translate}}
    </ion-label>
    <svg-icon src="assets/icons/icon-feather/icon-chevron-right.svg" [svgStyle]="{'width.px':18, 'height.px': 18}">
    </svg-icon>
  </div>

  <xng-breadcrumb [separator]="iconTemplate">
  </xng-breadcrumb>
  <ng-template #iconTemplate>
    <svg-icon id="separator-gdx" src="assets/icons/icon-feather/icon-chevron-right.svg"
      [svgStyle]="{'width.px':18, 'height.px': 18}">
    </svg-icon>
  </ng-template>
</div>