@use '../../../../theme/sizing.scss';

.app-breadcrumb {
  display: none;
}

.home-box {
  margin-right: 5px;
  ion-label {
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }
  ion-label:hover {
    border-bottom: 1px solid var(--gdx-color-outline);
  }
}

@media only screen and (min-width: sizing.$primary-tablet-width) {
  .app-breadcrumb {
    display: flex !important;
  }
}

svg-icon {
  width: 18px;
  height: 18px;
  path {
    stroke: var(--ion-color-medium);
  }
}
