nav {
  z-index: 2;
  position: fixed;
  background: #333333;
  height: 80px;
  width: 100%;
  justify-content: center;
}

nav .logo {
  width: 110px;
}

ion-avatar {
  height: 50px;
  width: 50px;
}

.breadcrumb-header {
  background: transparent;
  height: 50px;
  z-index: 1;
  position: absolute;
  top: 80px;
  width: calc(100vw - 210px);
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
}
