<nav class="ion-padding">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo-box" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start" tappable (click)="backToHome();">
      <img tappable class="logo" fxFlex="none" src="assets/images/logo/benefit-logo-invert.svg" alt="">
    </div>
    <div class="box" fxLayout="row" fxLayoutAlign="space-between center">
      <ion-avatar>
        <img src="assets/images/empty-state/avatar-not-found.svg" onerror="this.onerror = null; this.src='assets/images/logo-greatday.png';"
          alt="icon" />
      </ion-avatar>
    </div>
  </div>
  <div class="breadcrumb-header">
    <app-breadcrumb></app-breadcrumb>
  </div>
</nav>