/* ALL COMMENTED: TEST TANPA EMBED FONT, reducing size */

@font-face {
    font-family: "black";
    src: url("../assets/fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: "black-italic";
    src: url("../assets/fonts/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "bold-italic";
    src: url("../assets/fonts/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: "italic";
    src: url("../assets/fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: "light";
    src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "light-italic";
    src: url("../assets/fonts/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "medium";
    src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "medium-italic";
    src: url("../assets/fonts/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: "regular";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "thin";
    src: url("../assets/fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "thin-italic";
    src: url("../assets/fonts/Roboto-ThinItalic.ttf");
}
