// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


/* #region: ===== IONIC_CSS_VARIABLES ================ */
:root {
  --ion-color-primary: #f9af58;
  --ion-color-primary-rgb: 249, 175, 88;
  --ion-color-primary-contrast: var(--ion-color-light);
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #db9a4d;
  --ion-color-primary-tint: #fab769;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: var(--ion-color-light);
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: var(--ion-color-light);
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #5ad16c;
  --ion-color-success-rgb: 90, 209, 108;
  --ion-color-success-contrast: var(--ion-color-light);
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #4fb85f;
  --ion-color-success-tint: #6bd67b;

  --ion-color-warning: #ffc63f;
  --ion-color-warning-rgb: 255, 198, 63;
  --ion-color-warning-contrast: var(--ion-color-light);
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0ae37;
  --ion-color-warning-tint: #ffcc52;

  --ion-color-danger: #f69278;
  --ion-color-danger-rgb: 246, 146, 120;
  --ion-color-danger-contrast: var(--ion-color-light);
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d8806a;
  --ion-color-danger-tint: #f79d86;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;  

  // Custom Color
  --gdx-color-bgcontent: #F2F5F8;
  --gdx-color-bgcontent-card: #fff;
  --gdx-color-skeleton: #dddddd;
  --gdx-color-skeleton-glow: #edeef1;
  --gdx-color-white: #fff;
  --gdx-color-bgcard: #fff;
  // --gdx-color-bgcard2: #F0F2F4 !important; // will move to library
  // --gdx-color-bgfloor: #F6F8F9 !important; // will move to library
  --gdx-color-outline: #060707;
  --gdx-color-concrete: #bdc3c7;


  --gdx-border-radius-card: 8px;
  
  /* Set the font family of the entire app */
  // --ion-font-family: "Regular", sans-serif;

  /* ion-content desktop padding top */
  --gdx-content-padding-top: 90px;

  /* Set the font color of the entire app */
  --ion-text-color: #121212;

}
/* #endregion: == IONIC_CSS_VARIABLES ================ */

// Ukuran desktop ke atas
@media only screen and (min-width: 1280px) {
  :root {
    --gdx-border-radius-card: 4px !important;
  }
}

// @media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body.dark{
  // Custom Color Dark Mode

  --gdx-color-bgcontent: #212121;
  --gdx-color-bgcontent-card: #181818;
  --gdx-color-skeleton: #5c5a5a;
  --gdx-color-skeleton-glow: #868383;
  --gdx-color-white: #121212;
  --gdx-color-bgcard: #212121;
  // --gdx-color-bgcard2: #F0F2F4 !important; // will move to library
  // --gdx-color-bgfloor: #E5E5E5 !important; // will move to library
  --gdx-color-outline: #383838;
  }

  body.dark {
    --ion-color-primary: #f9af58;
    --ion-color-primary-rgb: 249, 175, 88;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #db9a4d;
    --ion-color-primary-tint: #fab769;

    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    --ion-color-success: #22c76cb3;
    --ion-color-success-rgb: 34,199,108, .7;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #1eaf5f;
    --ion-color-success-tint: #38cd7b;

    --ion-color-warning: #ffc63f;
    --ion-color-warning-rgb: 255, 198, 63;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ae37;
    --ion-color-warning-tint: #ffcc52;

    --ion-color-danger: #f69278;
    --ion-color-danger-rgb: 246, 146, 120;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #d8806a;
    --ion-color-danger-tint: #f79d86;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #121212;
    --ion-text-color-rgb: 25, 37, 40;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #121212;
    --ion-text-color-rgb: 25, 37, 40;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
// }
