$bgcontent: var(--gdx-color-bgcontent);

ion-content {
  background-color: $bgcontent;

  .animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    object {
      width: 200px;
    }
  }
}

.benefit-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
