app-navbar + app-sidebar + ion-router-outlet {
  top: calc(80px + 50px);
  height: calc(100vh - (80px + 50px));
}

.active-sidebar + ion-router-outlet {
  left: 210px;
  width: calc(100vw - 210px);
}

.minimize-sidebar {
  width: 50px;
  + ion-router-outlet {
    width: calc(100vw - 50px);
    height: calc(100vh - 80px);
    left: 50px;
  }
}
