/* You can add global styles to this file, and also import other style files */
@import 'theme/borders.scss';
@import 'theme/effects.scss';
@import 'theme/flexbox-grid.scss';
@import 'theme/interactivity.scss';
@import 'theme/sizing.scss';
@import 'theme/spacing.scss';
@import 'theme/transform.scss';
@import 'theme/typography.scss';

ion-content {
  --background: var(--gdx-color-bgfloor);
  .container {
    padding: 16px;
  }
}

app-navbar {
  .breadcrumb-header {
      display: none !important;
  }
}
app-navbar.show-breadcrumb {
  .breadcrumb-header {
      display: flex !important;
  }
}
app-navbar.full-breadcrumb.show-breadcrumb {
  .breadcrumb-header {
      width: calc(100vw - 50px) !important;
  }
}